/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Yellowtail&display=swap");

/* BASE */
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Verdana;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: burlywood;
  border-radius: 30px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* HERO SECTION */
.hero-section {
  background: url(https://i.ibb.co/GHN1C5c/hero-banner.jpg);
  height: 200vh;
  background-size: cover;
}

/* NAVBAR SECTION */
nav {
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 500px;
}

.navbar-logo-link {
  text-decoration: none;
  color: white;
}

.navbar-logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 3px;
  float: left;
  padding: 16px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  max-height: 0;
  height: 100% !important;
  clear: both;
  width: 100%;
  transition: max-height 0.2s ease-out;
}

.navbar-item a {
  padding: 8px;
  display: block;
}

.navbar-links {
  color: white;
  padding: 20px 20px;
  height: 100%;
  display: block;
  padding: 0;
  text-decoration: none;
  font-size: 1.5rem !important;
}

/* MOBILE MENU ICON */
.mobile-menu-icon {
  float: right;
  z-index: 3;
  padding: 30px 20px;
}

.mobile-menu-icon .navicon {
  background: white;
  display: block;
  position: relative;
  width: 30px;
  height: 5px;
  border-radius: 100px;
}

.mobile-menu-icon .navicon::before,
.mobile-menu-icon .navicon::after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 100px;
}

.mobile-menu-icon .navicon::before {
  top: 10px;
}

.mobile-menu-icon .navicon::after {
  top: -10px;
}

/* MOBILE MENU TOGGLE BUTTON */
.mobile-menu-toggle {
  display: none;
}

.mobile-menu-toggle:checked ~ .navbar-menu {
  max-height: 300px;
}

.mobile-menu-toggle:checked ~ .mobile-menu-icon .navicon {
  background: transparent !important;
}

.mobile-menu-toggle:checked ~ .mobile-menu-icon .navicon::before {
  transform: rotate(-45deg);
}

.mobile-menu-toggle:checked ~ .mobile-menu-icon .navicon::after {
  transform: rotate(45deg);
}

.mobile-menu-toggle:checked ~ .mobile-menu-icon:not(.steps) .navicon::before,
.mobile-menu-toggle:checked ~ .mobile-menu-icon:not(.steps) .navicon::after {
  top: 0;
}
