/* BASE */
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Verdana;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: goldenrod;
  border-radius: 30px;
}

/* HEADER SECTION */
header {
  background: url(https://i.ibb.co/GHN1C5c/hero-banner.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* NAVBAR SECTION */
nav {
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  left: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  text-decoration: none;
  color: white;
  transition: all 0.4s ease;
}

.logo:hover,
.navbar-item:hover,
.navbar-link:hover {
  color: goldenrod;
  transform: scale(1.1);
}

.logo h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 3px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.mobile-menu-container {
  display: none;
}

.navbar-item {
  transition: all 0.4s ease;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: all 0.4s ease;
}

.order-button {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  background-color: goldenrod;
  padding: 10px 20px;
  border-radius: 10px;
}

/* MOBILE MENU TOGGLE */
.mobile-menu-toggle {
  display: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  /* MOBILE NAVBAR MENU */
  .navbar-menu {
    /* position: absolute;
    display: flex;
    flex-direction: column;
    
    transition: transform 0.3s ease; */
    display: none;
  }

  .mobile-menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    /* opacity: 0.9; */
    /* z-index: 2; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
  }
  
  .mobile-menu-container.active {
    left: 0;
  }

  .mobile-menu{
    list-style: none;
    padding: 0;
  }

  .mobile-menu .navbar-item{
    margin: 30px 0;
    text-align: center;
  }

  .mobile-menu .navbar-link{
    font-size: 1.5rem;
  }

  /* .navbar-menu.active .navbar-item {
    opacity: 1;
    transform: translateX(0);
  } */

  /* .navbar-item {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  } */

  /* .navbar-item:nth-child(1) {
    transition-delay: 0.1s;
  }

  .navbar-item:nth-child(2) {
    transition-delay: 0.2s;
  }

  .navbar-item:nth-child(3) {
    transition-delay: 0.3s;
  }

  .navbar-item:nth-child(4) {
    transition-delay: 0.4s;
  }

  .navbar-item:nth-child(5) {
    transition-delay: 0.5s;
  } */

  /* MOBILE MENU ICON */
  .mobile-menu-icon {
    float: right;
    z-index: 3;
    align-self: center;
  }

  .mobile-menu-icon .navIcon:hover,
  .mobile-menu-icon .navIcon:hover::before,
  .mobile-menu-icon .navIcon:hover::after {
    cursor: pointer;
    background-color: goldenrod;
  }

  .mobile-menu-icon .navIcon {
    background: white;
    display: block;
    position: relative;
    width: 30px;
    height: 5px;
    border-radius: 100px;
    transition: all 0.4s ease;
  }

  .mobile-menu-icon .navIcon::before,
  .mobile-menu-icon .navIcon::after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.4s ease;
    width: 100%;
    border-radius: 100px;
  }

  .mobile-menu-icon .navIcon::before {
    top: 10px;
  }

  .mobile-menu-icon .navIcon::after {
    top: -10px;
  }

  /* MOBILE MENU TOGGLE */
  .mobile-menu-toggle:checked ~ .mobile-menu-icon .navIcon::before {
    transform: rotate(-45deg);
  }

  .mobile-menu-toggle:checked ~ .mobile-menu-icon .navIcon::after {
    transform: rotate(45deg);
  }

  .mobile-menu-toggle:checked ~ .mobile-menu-icon:not(.steps) .navIcon::before,
  .mobile-menu-toggle:checked ~ .mobile-menu-icon:not(.steps) .navIcon::after {
    top: 0;
  }

  .mobile-menu-toggle:checked ~ .mobile-menu-icon .navIcon {
    background: transparent !important;
  }
}

@media screen and (min-width: 960px) {
  .logo h3 {
    font-size: 3rem;
  }

  .navbar-link {
    font-size: 1.2rem;
  }
}

/*#overlay-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 1s ease-in-out;
}

#overlay-hero.active,
#overlay.active {
  background-color: rgba(0, 0, 0, 0.7);
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  transition: all 1s ease-in-out;
}

.wrapper-hero {
  background: url(https://i.ibb.co/GHN1C5c/hero-banner.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.wrapper {
  position: relative;
} */

/* NAVBAR SECTION */
/* nav {
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar {
  height: 70px;
}

.navbar-logo-link {
  text-decoration: none;
  color: white;
}

.navbar-logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 3px;
  float: left;
  padding: 16px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  height: 100% !important;
  clear: both;
  width: 100%;
}

.navbar-menu.active .navbar-item {
  opacity: 1;
  transform: translateX(0);
}

.navbar-menu.active .navbar-item a,
.navbar-menu.active .navbar-item button {
  pointer-events: all;
}

.navbar-item a {
  padding: 8px;
  display: block;
  pointer-events: none;
  transition: all 0.2s ease-out;
  transform-origin: center bottom;
}

.navbar-item button {
  pointer-events: none;
}

.navbar-item {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar-item a:hover {
  transform: scale(1.12);
}

.navbar-item:nth-child(1) {
  transition-delay: 0.1s;
}

.navbar-item:nth-child(2) {
  transition-delay: 0.2s;
}

.navbar-item:nth-child(3) {
  transition-delay: 0.3s;
}

.navbar-item:nth-child(4) {
  transition-delay: 0.4s;
}

.navbar-item:nth-child(5) {
  transition-delay: 0.5s;
}

.navbar-item:nth-child(6) {
  transition-delay: 0.6s;
}

.navbar-links {
  color: white;
  padding: 20px 20px;
  height: 100%;
  display: block;
  text-decoration: none;
  font-size: 1.5rem !important;
}

button,
.hero-button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: goldenrod;
  font-size: 15px;
  font-weight: bolder;
  border: white 1px;
  text-decoration: none;
  transition: all 0.2s ease-out !important;
  transform-origin: center bottom;
}

button:hover {
  cursor: pointer;
  transform: scale(1.12);
}

.navbar-button {
  margin: 10px 10px;
} */

/* MOBILE MENU ICON */
/* .mobile-menu-icon {
  float: right;
  z-index: 3;
  padding: 30px 20px;
}

.mobile-menu-icon:hover {
  cursor: pointer;
}

.mobile-menu-icon .navicon {
  background: white;
  display: block;
  position: relative;
  width: 30px;
  height: 5px;
  border-radius: 100px;
}

.mobile-menu-icon .navicon::before,
.mobile-menu-icon .navicon::after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 100px;
}

.mobile-menu-icon .navicon::before {
  top: 10px;
}

.mobile-menu-icon .navicon::after {
  top: -10px;
} */

/* MOBILE MENU TOGGLE BUTTON */
/* .mobile-menu-toggle {
  display: none;
}

.mobile-menu-toggle:checked ~ .navbar-menu {
  max-height: 300px;
}

.mobile-menu-toggle:checked ~ .mobile-menu-icon .navicon {
  background: transparent !important;
}

.mobile-menu-toggle:checked ~ .mobile-menu-icon .navicon::before {
  transform: rotate(-45deg);
}

.mobile-menu-toggle:checked ~ .mobile-menu-icon .navicon::after {
  transform: rotate(45deg);
}

.mobile-menu-toggle:checked ~ .mobile-menu-icon:not(.steps) .navicon::before,
.mobile-menu-toggle:checked ~ .mobile-menu-icon:not(.steps) .navicon::after {
  top: 0;
} */

/* HERO SECTION */
/* .hero-section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-inline: 8vw;
}

#hero-text {
  position: relative;
  width: 100%;
  color: white;
  transition: all 1s ease-in-out;
}

.hero-title {
  font-size: 1.8rem;
  font-weight: 100 !important;
  padding-bottom: 1em;
}

.hero-sub p {
  padding-bottom: 2em;
}

.hero-button {
  transition: all 1s ease-in-out;
} */

/* ABOUT SECTION */
/* .about-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-inline: 8vw;
  padding-top: 4em;
}

.about-text {
  position: relative;
  width: 100%;
}

.about-title {
  font-size: 2rem;
  text-align: center;
  padding-top: 1em;
}

.about-sub p {
  padding-top: 1em;
  text-align: center;
}

.about-cols {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}

.about-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-item p {
  padding-bottom: 0.5em;
}

.about-img {
  width: 100px;
  height: auto;
  padding: 1em 0 1em 0;
} */

/* TESTIMONIALS SECTION */
/* .testimonial-section {
  background: url(https://i.ibb.co/zG3F3CM/wood.jpg);
  background-size: cover;
  margin-top: 2em;
  height: 100vh;
  position: relative;
  padding-inline: 8vw;
}

.testimonial-title {
  font-size: 2rem;
  text-align: center;
  padding-top: 1em;
  color: white;
}

.testimonial-quote{
  color: white;
  text-align: center;
  padding: 1em 0 1em;
}

.testimonial-img{
  display: flex;
  justify-content: center;
}

.testimonial-img img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
} */

/* MEDIA QUERY SECTION */
/* @media screen and (min-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-sub {
    font-size: 1.5rem;
  }

  .about-cols {
    flex-direction: row;
  }
}

@media screen and (min-width: 960px) {
  .navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu-icon {
    display: none;
  }

  .navbar-menu {
    all: unset;
    display: flex;
    float: right;
    align-items: center;
    padding: 9px;
  }

  .navbar-item a {
    pointer-events: unset;
    font-size: 1.2rem !important;
  }

  .navbar-item button {
    pointer-events: unset;
  }

  .navbar-item {
    all: unset;
  }

  .navbar-logo {
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-sub {
    font-size: 1.5rem;
  }

  #hero-text {
    padding-top: 3em;
  }

  .about-title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1269px) {
  .navbar-logo {
    font-size: 2.5rem;
  }

  .navbar-item a {
    font-size: 1.3rem !important;
  }

  .hero-title {
    font-size: 3.5rem;
  }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  .wrapper-hero {
    height: 150vh;
  }

  .hero-section {
    top: 100px;
  }

  .navbar-menu {
    flex-direction: row;
    justify-content: center;
  }

  .navbar-links {
    font-size: 1.2rem !important;
  }
} */
