/* BASE */
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Verdana;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: goldenrod;
  border-radius: 30px;
}

/* HEADER SECTION */
header {
  background: url(https://i.ibb.co/GHN1C5c/hero-banner.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* NAVBAR SECTION */
nav {
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  left: 0;
  transition: all 0.5s ease;
}

nav.scrolled {
  background-color: black;
  box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 20px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  text-decoration: none;
  color: white;
  transition: all 0.4s ease;
}

.logo:hover,
.navbar-item:hover,
.navbar-link:hover {
  color: goldenrod;
  transform: scale(1.1);
}

.logo h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 3px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.mobile-menu-container {
  display: none;
}

.navbar-item {
  transition: all 0.4s ease;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: all 0.4s ease;
}

.order-button {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  background-color: goldenrod;
  padding: 10px 20px;
  border-radius: 10px;
}

/* MOBILE MENU TOGGLE */
.mobile-menu-toggle {
  display: none;
}

/* HERO SECTION */
.hero-section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
  width: 100%;
}

.hero-text {
  z-index: 0;
}

.hero-title {
  font-size: 4rem;
  text-transform: capitalize;
  text-align: left;
}

.hero-sub {
  font-size: 1.5rem;
  padding-bottom: 2em;
}

.hero-title span {
  color: goldenrod;
}

.hero-button {
  background-color: goldenrod;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  width: 250px;
  height: 70px;
  border: none;
  box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.4s ease;
}

.hero-button:hover {
  transform: scale(1.1);
}

.about-section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 4em 0 4em 0;
  text-align: center;
  width: 100%;
}

.about-text {
  padding-top: 4em;
  position: relative;
}

.about-title {
  font-size: 3rem;
  text-transform: capitalize;
  padding-bottom: 1em;
}

.about-sub {
  font-size: 1.5rem;
  padding-top: 2em;
}

.about-cols {
  display: flex;
  padding-top: 6em;
  /* justify-content: center; */
  align-items: center;
}

.about-item p {
  padding-top: 1em;
}

.about-img {
  width: 100px;
}

/* TESTIMONIAL SECTION */
.testimonial-section {
  /* display: flex; */
  /* position: relative; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-top: 4em; */
  /* padding-bottom: 4em; */
  /* width: 100%; */
  background: url(https://i.ibb.co/zG3F3CM/wood.jpg);
  background-size: cover;
  margin-top: 2em;
  /* height: 100vh; */
  position: relative;
}

.testimonial-title {
  font-size: 3rem;
  text-align: center;
  padding-top: 3em;
  color: white;
}

.testimonial-quote {
  color: white;
  text-align: center;
  padding: 4em 0 1em 0;
  font-size: 1.5rem;
  font-style: italic;
}

.testimonial-quote span {
  color: white;
}

.testimonial-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial-img img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.testimonial-img p {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-sub {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 804px) {
  .hero-title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  /* MOBILE NAVBAR MENU */
  .navbar-menu {
    display: none;
  }

  .mobile-menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
  }

  .mobile-menu-container.active {
    left: 0;
  }

  .mobile-menu {
    list-style: none;
    padding: 0;
  }

  .mobile-menu .navbar-item {
    margin: 30px 0;
    text-align: center;
  }

  .mobile-menu .navbar-link {
    font-size: 1.5rem;
  }

  /* MOBILE MENU ICON */
  .mobile-menu-icon {
    float: right;
    z-index: 3;
    align-self: center;
  }

  .mobile-menu-icon .navIcon:hover,
  .mobile-menu-icon .navIcon:hover::before,
  .mobile-menu-icon .navIcon:hover::after {
    cursor: pointer;
    background-color: goldenrod;
  }

  .mobile-menu-icon .navIcon {
    background: white;
    display: block;
    position: relative;
    width: 30px;
    height: 5px;
    border-radius: 100px;
    transition: all 0.4s ease;
  }

  .mobile-menu-icon .navIcon::before,
  .mobile-menu-icon .navIcon::after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.4s ease;
    width: 100%;
    border-radius: 100px;
  }

  .mobile-menu-icon .navIcon::before {
    top: 10px;
  }

  .mobile-menu-icon .navIcon::after {
    top: -10px;
  }

  /* MOBILE MENU TOGGLE */
  .mobile-menu-toggle:checked ~ .mobile-menu-icon .navIcon::before {
    transform: rotate(-45deg);
  }

  .mobile-menu-toggle:checked ~ .mobile-menu-icon .navIcon::after {
    transform: rotate(45deg);
  }

  .mobile-menu-toggle:checked ~ .mobile-menu-icon:not(.steps) .navIcon::before,
  .mobile-menu-toggle:checked ~ .mobile-menu-icon:not(.steps) .navIcon::after {
    top: 0;
  }

  .mobile-menu-toggle:checked ~ .mobile-menu-icon .navIcon {
    background: transparent !important;
  }

  .hero-title {
    /* font-size: 3rem; */
    margin: 20px 20px;
  }

  .hero-sub {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 960px) {
  .logo h3 {
    font-size: 3rem;
  }

  .navbar-link {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .about-cols {
    flex-direction: column;
  }

  .about-item {
    width: 300px;
  }
}

@media screen and (max-width: 540px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-sub {
    font-size: 1rem;
  }
}

@media screen and (max-width: 365px) {
  .testimonial-quote {
    font-size: 1rem;
  }

  .hero-title {
    font-size: 1.7rem;
  }

  .hero-sub {
    padding: 1em;
  }
}

@media screen and (max-width: 320px) {
  
}

/* TESTIMONIALS SECTION */
/* .testimonial-section {
  background: url(https://i.ibb.co/zG3F3CM/wood.jpg);
  background-size: cover;
  margin-top: 2em;
  height: 100vh;
  position: relative;
  padding-inline: 8vw;
}

.testimonial-title {
  font-size: 2rem;
  text-align: center;
  padding-top: 1em;
  color: white;
}

.testimonial-quote{
  color: white;
  text-align: center;
  padding: 1em 0 1em;
}

.testimonial-img{
  display: flex;
  justify-content: center;
}

.testimonial-img img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
} */

/* MEDIA QUERY SECTION */
/* @media screen and (min-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-sub {
    font-size: 1.5rem;
  }

  .about-cols {
    flex-direction: row;
  }
}

@media screen and (min-width: 960px) {
  .navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu-icon {
    display: none;
  }

  .navbar-menu {
    all: unset;
    display: flex;
    float: right;
    align-items: center;
    padding: 9px;
  }

  .navbar-item a {
    pointer-events: unset;
    font-size: 1.2rem !important;
  }

  .navbar-item button {
    pointer-events: unset;
  }

  .navbar-item {
    all: unset;
  }

  .navbar-logo {
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-sub {
    font-size: 1.5rem;
  }

  #hero-text {
    padding-top: 3em;
  }

  .about-title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1269px) {
  .navbar-logo {
    font-size: 2.5rem;
  }

  .navbar-item a {
    font-size: 1.3rem !important;
  }

  .hero-title {
    font-size: 3.5rem;
  }
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  .wrapper-hero {
    height: 150vh;
  }

  .hero-section {
    top: 100px;
  }

  .navbar-menu {
    flex-direction: row;
    justify-content: center;
  }

  .navbar-links {
    font-size: 1.2rem !important;
  }
} */
